name: Test it

on:
  push:
    branches: "*"
  pull_request:
    branches: "*"

jobs:
  test:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6.0.1
      - uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          toolchain: stable 
      - name: Test Build      
        run: |
          cargo test

